<h1> Sign Up page </h1>

<form action="/signup" method="post">
     Enter Name:<input type=text name= "name"> <br>
     Enter Username:<input type=text name= "username"> <br>
      Enter Email:<input type=email name= "email"> <br>
      Enter Password:<input type=password name= "password"> <br>
      <input type=submit value= "Signup">


</form>